.room_info{
    position: absolute;
    width: 220px;
    height: 279px;
    font-family: Quicksand;
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    line-height: 24px;
    color: #1F2041;
}
.comfort_main{
    position: relative;
    width: 48px;
    height: 48px;
    left: 0px;
    top: 24px;
    font-family: Material Icons;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 41px;
    display: inline-block;
    align-items: center;
    text-align: center;
}
.comfort_text{
    position: relative;
    width: 233px;
    height: 48px;
    left: 58px;
    top: -44px;
    text-align: left;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    color: rgba(31, 32, 65, 0.75);
}
.comfort_text_after{
    font-weight: normal;
}
.between_line_first{
    position: relative;
    width: 280px;
    height: 1px;
    left: 0px;
    top: 40px;
    background: rgba(31, 32, 65, 0.1);
}
.between_line_second{
    position: relative;
    width: 280px;
    height: 1px;
    left: 0px;
    top: 80px;
    background: rgba(31, 32, 65, 0.1);
}
.convenience{
    position: relative;
    width: 48px;
    height: 48px;
    left: 0px;
    top: 64px;
    font-family: Material Icons;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 41px;
    display: inline-block;
    align-items: center;
    text-align: center;
}
.convenience_text{
    position: relative;
    width: 233px;
    height: 48px;
    left: 58px;
    top: -42px;
    text-align: left;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    color: rgba(31, 32, 65, 0.75);
}
.convenience_text_after{
    font-weight: normal;
}
.consiness{
    position: relative;
    width: 48px;
    height: 48px;
    left: 0px;
    top: 101px;
    font-family: Material Icons;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 41px;
    display: inline-block;
    align-items: center;
    text-align: center;
}
.consiness_text{
    position: relative;
    width: 233px;
    height: 48px;
    left: 58px;
    top: -44px;
    text-align: left;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    color: rgba(31, 32, 65, 0.75);
}
.consiness_text_after{
    font-weight: normal;
}