block button_white_small
	mixin button_white_small(name)
		button.button.button_white_small
			div.button_white_small.white
				p.button_text.button_white_small= name
		style
			include ./button_white_small.css
