block room_info

    mixin room_info()
        div.room_info Сведения о номере
            .comfort_main
                img(src="./images/confort.svg", alt="confort")
                .comfort_text
                    .comfort_text_main Комфорт
                    .comfort_text_after Шумопоглощающие стены
            div.between_line_first
            .convenience
                img(src="./images/convenience.svg", alt="convenience")
                .convenience_text
                    .convenience_text_main Удобство
                    .convenience_text_after Окно в каждой из спален
            div.between_line_second
            .consiness
                img(src="./images/consiness.svg", alt="consiness")
                .consiness_text
                    .consiness_text_main Уют
                    .consiness_text_after Номер оснащён камином
                    
        style 
            include ./room_info.css