.room_details_images{
    position: absolute;
    display: inline-block;
    width: 1440px;
    height: 485px;
}
.room_details_main{
    position: relative;
    display: inline-block;
    width: 981px;
    height: 485px;
    left: 0px;
    top: 70px;
}
.room_details_dop1{
    position: relative;
    display: inline-block;
    width: 461px;
    height: 243px;
    left: 981px;
    top: -419px;
}
.room_details_dop2{
    position: relative;
    display: inline-block;
    width: 720px;
    height: 281px;
    left: 520px;
    top: -178px;
}
.room_info {
    position: absolute;
    width: 220px;
    height: 279px;
    top: 625px;
    left: 140px;
    font-family: Quicksand;
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    line-height: 24px;
    color: #1F2041;
}
.room_impress{
    top: 625px;
    left: 501px;
}
.reservation {
    top: 625px;
    left: 920px;
}
.reviews{
    left: 139px;
    top: 1000px;
}
.footer{
    top: 1494px;
}