.room_details_images{
    position: absolute;
    display: inline-block;
    top: 0px;
    width: 1440px;
    height: 485px;
}
.room_details_main{
    position: relative;
    display: block;
    width: 981px;
    height: 485px;
    left: 0px;
    top: 70px;
}
.room_details_dop1{
    position: relative;
    display: block;
    width: 461px;
    height: 243px;
    left: 68%;
    top: -415px;
}
.room_details_dop2{
    position: relative;
    display: block;
    width: 720px;
    height: 281px;
    left: 68%;
    top: -415px;
}
.room_info {
    position: absolute;
    display: grid;
    width: 220px;
    height: 169px;
    top: 622px;
    left: 10.5%;
    font-family: Quicksand;
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    line-height: 24px;
    color: #1F2041;
}
.room_impress{
    top: 615px;
    left: 36%;
}
.reservation {
    top: 625px;
    left: 929px;
}
.reviews{
    left: 10.5%;
    top: 928px;
}
.rules{
    position: absolute;
    top: 1264px;
    left: 12%;
    width: 341px;
    height: 96px;
}
.canceling{
    position: absolute;
    top: 1264px;
    left: 36%;
    width: 341px;
    height: 96px;
}
