block rules
	style
			include ./rules.css

	mixin rules()
		
		.rules
			.rules_name Правила
			li.rules_text Нельзя с питомцами
			li.rules_text Без вечеринок и мероприятий
			li.rules_text Время прибытия — после 13:00, а выезд до 12:00