mixin footer()
	div.footer
		div.footer_logo
			img(src="./assets/img/logo.svg")
			p.signature_first Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis.
		div
			ul.nav
				li.h Navigation
				li About Us
				li News
				li Support
				li Products		
			ul.about
				li.h ABOUT US
				li Who we are
				li Our team
				li Careers
				li Investors
			ul.sup
				li.h Support
				li Documentation
				li Community
				li Get in Touch
	
		div.sub
			p.supscrube Subscribe to our newsletter
			p.signature_second Receive our latest news and promotions in your inbox!
			form

		div.footer_down
			div.copirait Copyright © 2018 Toxin UI Kit. All rights reserved.
			a(href="#")
				img.twit(src="./assets/img/twitter_icon.svg")
			a(href="#")
				img.fbk(src="./assets/img/facebook_icon.svg")
			a(href="#")
				img.inst(src="./assets/img/instagram_icon.svg")