style
	include style_registred.css
body
	div.header
		div.logo
			img(src="header_registred/logo.svg")
		div.head
			span.menu Home
			span.menu About Us
			span.menu Service
			span.row 
				img(src="header_registred/arrow.svg")
			span.menu Careers
			span.menu News
			span.menu Documentation

		div.border
		div.country
			span.menu Russia Fideration
				