block toggle
	style
		include ./toggle.css

	mixin toggle()
		div.toggle
			input(type="checkbox", id="toggle_switch")
			label.toggle_lable(for="toggle_switch")
			div.toggle_name Получать спецпредложения