html(lang='ru-RU')
	head
	
		include ../../header_unregister/header_unregister.pug
		include ../../forms/registration/registration.pug
		include ../../footer/footer.pug
	style
		include ./registration.css

	body
		+header_unregister()
		img(class="registration_img", src="./images/registration.svg", alt="kartinka")
		+registration()
		+footer()