html(lang='ru-RU')
	head
	
		include ../../header_unregister/header_unregister.pug
		include ../../forms/login/login.pug
		include ../../footer/footer.pug
	style
		include ./signin.css

	body
		+header_unregister()
		img(src="./images/registration.svg", alt="kartinka")
		+login()
		+footer()