//include ../includes/modules/header_unregister.pug
//include ../includes/forms/find_number.pug
//include ../includes/modules/footer.pug

html(lang='ru-RU')
	head
		meta(charset='utf-8')
		title Landing page
	body
		div
			img(src="./assets/img/landing_page.svg", alt="main-img", class="landing_img")
			//block header_unregister
			//block find_number
			div.text_before_img Лучшие номера для вашей работы, отдыха и просто вдохновения
		div
			//+footer()
