include ../includes/modules/header_unregister.pug
include ../includes/forms/find_number.pug
include ../includes/modules/footer.pug

html(lang='ru-RU')
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
	body
		block header_unregister
		img(src="./assets/img/landing_page.svg",class="landing_page" alt="kartinka")
		block find_number
		block footer