block filter_date_dropdown
	style
		include ./filter_date_dropdown.css
	script
		include ./jquery.min.js
		include ./filter_date_dropdown.js

	mixin filter_date_dropdown()
		div.filter_date_dropdown
			div.filter_date_dropdown_name даты пребывания в отеле
			div.filter_data_dropdown
				row.filter_data_number
				i.filter_date_dropdown_material-icons expand_more
			div.filter_dropdown_calendar
				i.material-icons.row_left arrow_back
				div.filter_date_dropdown_month
				i.material-icons.row_right arrow_forward
				div#filter_date_calendar
				div.filter_date_dropdown_cancel очистить
				div.filter_date_dropdown_apply применить
						
		
