.login{
    position: absolute;
    width: 380px;
    height: 358px;
    
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    z-index: 0;
}
.login_name{
    position: absolute;
    width: 320px;
    height: 30px;
    left: 29px;
    top: 39px;

    font-family: Quicksand;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    /* identical to box height */


    /* Dark 100% */

    color: #1F2041;
}
.login_emale{
    position: absolute;
    width: 320px;
    height: 44px;
    left: 29px;
    top: 89px;
}
.login_passsword{
    position: absolute;
    width: 320px;
    height: 44px;
    left: 29px;
    top: 143px;
}
.login_submit{
    position: absolute;
    width: 320px;
    height: 44px;
    left: 29px;
    top: 207px;
}
.login_footer{
    position: absolute;
    width: 320px;
    height: 44px;
    left: 30px;
    top: 572px;
}
.login_footer_text{
    position: absolute;
    width: 164px;
    height: 18px;
    left: 0px;
    top: 12px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    /* identical to box height, or 129% */

    display: flex;
    align-items: center;

    color: #000000;
}
.login_white_button{
    position: absolute;
    width: 99px;
    height: 44px;
    left: 221px;

    border-radius: 22px;
}