block expandable_checkbox_list
	div.expandable_checkbox_list 
		div.expandable_checkbox_list_header
			row.expandable_checkbox_list_name expandable checkbox list
			i.material-icons_expandable_checkbox_list expand_more
		div.expandable_checkbox_list_checkboxs 
			div.expandable_checkbox_list_checkbox
				input(type="checkbox", name="breakfast", id="breakfast")
				label(for="breakfast") Завтрак
					span
			div.expandable_checkbox_list_checkbox
				input(type="checkbox", name="desk", id="desk")
				label(for="desk") Письменный стол
					span
			div.expandable_checkbox_list_checkbox
				input(type="checkbox", name="chair_for_feeding", id="chair_for_feeding")
				label(for="chair_for_feeding") Стул для кормления
					span
			div.expandable_checkbox_list_checkbox
				input(type="checkbox", name="bed", id="bed")
				label(for="bed") Кроватка
					span
			div.expandable_checkbox_list_checkbox
				input(type="checkbox", name="tv", id="tv")
				label(for="tv") Телевизор
					span
			div.expandable_checkbox_list_checkbox
				input(type="checkbox", name="shampoo", id="shampoo")
				label(for="shampoo") Шампунь
					span