mixin like_button(like_count)
	div.like_button
		label.like_button_lable(name = '111') 
			input.like_button_checkbox(type="checkbox")
			i.material-icons_like_button
			row.like_button_likes=like_count