mixin text_field(name_text_field, placeholder)
	div.text_field
		div.name_text_field= name_text_field
		div.input_text_field
			input(type="text", class="text_in_text_field", placeholder= placeholder)